/* You can add global styles to this file, and also import other style files */

.accept-icon {
  color: green;
  font-size: 20px;
  cursor: pointer;
}

.decline-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
}


.table-responsive {
  margin-top: 10px;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  background-color: white;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px){
  .mobile-header {
    margin-top: 50px;
  }
}
